

h1, h2, h3, h4, button, input, p, label, span {
    font-family: 'Recursive', sans-serif;
}

h1 {
    text-shadow: 2px 2px rgb(239, 239, 239);
}

h2 {
    text-align: center;
}

header {
    text-align: center;
    padding: 30px;
}

button {
    padding: 12px;
    border: 1px solid rgb(237, 237, 237);
}

button:hover {
    background-color:rgb(200, 200, 200);
}

.inventory {
    border-radius:5px;
    padding: 30px;
    margin: 0px 80px;
    background-color: rgb(252, 219, 219);
    box-shadow: 5px 10px 18px rgb(239, 239, 239);
}

.total-inventory {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius:5px;
    padding: 20px;
    background-color: white;
}

.inventory-menu {
    padding: 10px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
}

.inventory-form {
    background-color: rgb(252, 219, 219);
    box-shadow: 5px 10px 18px rgb(239, 239, 239);
    padding: 10px 20px;
    margin:10px;
}

input[type="text" i] {
    padding: 1px 2px;
    height: 40px;
    border: 1px solid rgb(237, 237, 237);
}

.employee-payment {
    position:absolute;
    text-align: right;
    right:10%;
    top:10px;
    padding:10px 40px;
    background-color: white;
    border: 2px solid rgb(252, 219, 219);
    border-radius: 10px;
    box-shadow: 5px 10px 18px rgb(239, 239, 239);
}

.item-details {
    display:flex;
    justify-content:space-between;
}

.inventory-item {
    padding: 0px 10px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 10px;
    margin: 10px;
}

.delete {
    border:none;
    font-size:10px;
    margin: 5px;
}

